*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    min-height: 100vh;
    
}

.hero-left{
    width: 70%;
}
.hero-right{
    width: 30%;
}